<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <title>О нас</title>
  <link rel="stylesheet" type="text/css" href="../static/css/styles.css" th:href="@{/css/styles.css}">
</head>
<body>
<header th:insert="~{blocks/header :: header}"></header>
  <div class="filter about">
    <h1 style="color: black">О нашем любимом отеле</h1>
    <p>Онлайн сервис <strong>Отель</strong>. Своим клиентам мы предоставляем возможность забронировать номер всего за <strong>одну минуту!</strong>
      Причем сделать это можно как через сайт, так и по телефону, а также на планшете или с мобильного телефона.
      С <strong>Отелем</strong> можно быть уверенным в том, что за услугу бронирования <strong>не будет переплачено ни рубля.</strong>
      Мы заботимся о своих клиентах и предлагаем несколько вариантов оплаты забронированного номера. Это можно сделать на сайте или в отеле
      , заплатить всю сумму целиком или внести предоплату.
      Таким образом, можно обеспечить себе гарантированное проживание в понравившемся отеле без предоплаты.
      А сумму за проживание вы выплачиваете отелю при заселении.
      Это очень удобно, если есть планы поехать в «пиковый» сезон в ту или иную страну , а оплатить номер заранее просто нет возможности.
      К тому же, в этом случае нет необходимости привязывать данные своей кредитной карты к планируемой поездке.
      Стоит также отметить, что на некоторые номера предлагаем выгодные условия отмены — если поездка вдруг сорвется
      , вы не пострадаете материально.
      Выбирая <strong>Отель</strong>, вы гарантируете себе огромный выбор номеров.
      Всего на нашем сайте можно найти свыше 1000 вариантов номеров самых различных комплектаций.
      Вы можете получить консультацию по любому вопросу
      , помощь в бронировании номера и при заселении у специалистов нашей круглосуточной службы поддержки <strong>(8-044-5-999-311)</strong>.
    </p>
      <strong>Отель</strong> – доступное и выгодное бронирование номеров. Без комиссии.
  </div>
<footer th:insert="~{blocks/footer :: footer}"></footer>
</body>
</html>