<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Hotel</title>
    <link rel="stylesheet" type="text/css" href="../static/css/styles.css" th:href="@{/css/styles.css}">
</head>
<body>
<header th:insert="~{blocks/header :: header}"></header>

<div class="centered">
    <div th:if="${errorOfIncorrectDate}" class="alert-danger">
        <p th:text="${errorOfIncorrectDate}"></p>
    </div>
    <div th:if="${errorOfNotYourRoom}" class="alert-danger">
        <p th:text="${errorOfNotYourRoom}"></p>
    </div>
    <div th:if="${errorOfIncorrectInputPrice}" class="alert-danger">
        <p th:text="${errorOfIncorrectInputPrice}"></p>
    </div>
</div>

<main class="main">
    <div class="container">
        <section class="filter-section">
            <form th:action="@{/search}" method="get">
                <h2>Бронирование номеров в отеле</h2>
                <div class="form-grid">
                    <div class="form-group">
                        <label for="roomName">Название номера:</label>
                        <input type="text" id="roomName" name="roomName" style="height: 35%" placeholder="Введите название номера">
                    </div>
                    <div class="form-group">
                        <label for="checkInDate">Дата заезда:</label>
                        <input type="date" id="checkInDate" name="checkInDate" th:min="${#dates.format(#dates.createNow(), 'yyyy-MM-dd')}">
                    </div>
                    <div class="form-group">
                        <label for="checkOutDate">Дата выезда:</label>
                        <input type="date" id="checkOutDate" name="checkOutDate" th:min="${#dates.format(#dates.createNow(), 'yyyy-MM-dd')}">
                    </div>
                    <div class="form-group">
                        <label for="amountOfSleepers">Количество гостей:</label>
                        <select style="height: 62%" id="amountOfSleepers" name="amountOfSleepers">
                            <option value="1">1 гость</option>
                            <option value="2">2 гостя</option>
                            <option value="3">3 гостя</option>
                            <option value="4">4 гостя</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="minPrice">Минимальная цена:</label>
                        <input type="number" id="minPrice" name="minPrice" placeholder="Мин. цена (в $)">
                    </div>
                    <div class="form-group">
                        <label for="maxPrice">Максимальная цена:</label>
                        <input type="number" id="maxPrice" name="maxPrice" placeholder="Макс. цена (в $)">
                    </div>
                </div>
                <button type="submit" class="search-btn">Поиск</button>
            </form>
        </section>

        <section class="room-list-section" th:if="${not rooms.isEmpty()}">
            <h2>Список номеров</h2>
            <div class="room-list">
                <div class="room-card" th:each="room, indx : ${rooms.content}">
                    <a th:href="@{'/post?roomId=' + ${room.id}}" class="room-link">
                        <img th:src="@{'/photos/' + ${room.photos.get(0)}}" alt="Изображение номера" class="room-image">
                        <div class="room-details">
                            <h3>
                                <span th:text="${room.name}"></span>
                                <span class="rating" th:text="${averageRatings[indx.index]} + ' ★'"></span>
                            </h3>
                            <p>Спальных мест: <span th:text="${room.amountOfSleepers}"></span></p>
                            <div class="services">
                                <p>Услуги:</p>
                                <ul class="services-list">
                                    <li th:each="service : ${room.services}" th:text="${service}"></li>
                                </ul>
                            </div>
                            <p class="price">Цена за день: <span th:text="${room.pricePerDay} + '$'"></span></p>
                        </div>
                    </a>
                </div>
            </div>

            <div class="pagination" th:if="${rooms.totalPages > 1}">
                <a th:if="${rooms.number != 0}"
                   th:href="@{'/?page=' + ${rooms.number - 1}}"
                   class="page-link">&laquo;</a>

                <a th:each="pageNum : ${#numbers.sequence(0, rooms.totalPages - 1)}"
                   th:href="@{'/?page=' + ${pageNum}}"
                   th:text="${pageNum + 1}"
                   th:class="${pageNum == rooms.number} ? 'page-link active' : 'page-link'"></a>

                <a th:if="${rooms.number != rooms.totalPages - 1}"
                   th:href="@{'/?page=' + ${rooms.number + 1}}"
                   class="page-link">&raquo;</a>
            </div>
        </section>
    </div>
</main>

<footer class="footer" th:insert="~{blocks/footer :: footer}"></footer>
</body>
</html>