<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hotel</title>
    <link rel="stylesheet" type="text/css" href="../static/css/styles.css" th:href="@{/css/styles.css}">
</head>
<body>
<header th:insert="~{blocks/header :: header}"></header>
<div class="container">
    <div class="alerts">
        <div th:if="${errorOfIncorrectDate}" class="alert-danger">
            <p th:text="${errorOfIncorrectDate}"></p>
        </div>
        <div th:if="${errorOfExistReservation}" class="alert-danger">
            <p th:text="${errorOfExistReservation}"></p>
            <ul class="alert-ul" th:each="reservation : ${reservations}">
                <li th:text="'С ' + ${reservation.dateOfReservation} + ' по ' + ${reservation.dateOfEviction}"></li>
            </ul>
        </div>
    </div>
    <h2 class="h2">
        <span th:text="${room.name + ' ' + rating}"></span>
        <span>&#9733;</span>
    </h2>
    <div class="room-post">
        <div class="main-content">
            <div class="slider-container">
                <div class="slider">
                    <div th:each="photo, iterStat : ${room.photos}" class="slide">
                        <img th:src="@{'/photos/' + ${photo}}" alt="Изображение номера">
                    </div>
                </div>
                <button id="prevSlide" class="slider-button">&laquo;</button>
                <button id="nextSlide" class="slider-button">&raquo;</button>
            </div>
            <div class="room-details">
                <p>Спальных мест: <span th:text="${room.amountOfSleepers}"></span></p>
                <p>Услуги:</p>
                <ul class="services">
                    <li th:each="service : ${room.services}">
                        <span th:text="${service}"></span>
                    </li>
                </ul>
                <p>Цена за день: <span th:text="${room.pricePerDay} + '$'"></span></p>
            </div>
        </div>
        <div class="side-content">
            <form th:action="@{/reserve}" th:method="post" class="form">
                <p class="reserv">Бронирование</p>
                <label for="checkInDate">Дата заезда:</label>
                <input type="date" id="checkInDate" name="checkInDate">
                <label for="checkOutDate">Дата выезда:</label>
                <input type="date" id="checkOutDate" name="checkOutDate">
                <input type="hidden" name="roomIdForReserve" th:value="${room.id}">
                <button type="submit" class="sign-btn">Забронировать</button>
            </form>
            <div class="description">
                <h4>Описание</h4>
                <p th:text="${room.description}" style="word-wrap: break-word; width: 335px; text-align: center"></p>
            </div>

        </div>
    </div>
    <div class="reviews-section">
        <h3>Отзывы</h3>
        <div class="review-input">
            <form class="reviewForm" th:action="@{/add-review}" th:method="post">
                <label for="reviewText">Отзыв:</label>
                <textarea id="reviewText" name="reviewText" rows="4" maxlength="250" required></textarea>
                <div class="rating">
                    <label for="rating">Оценка:</label>
                    <input type="number" id="rating" name="rating" min="1" max="5" required>
                </div>
                <input type="hidden" name="roomIdToAddReview" th:value="${room.id}">
                <input type="hidden" name="userNameToAddReview" th:value="${authentication.name}">
                <button type="submit" class="default-btn">Отправить отзыв</button>
            </form>
        </div>
        <ul th:if="${not reviews.content.isEmpty()}" class="review-list">
            <li th:each="review : ${reviews.content}">
                <div class="review">
                    <div class="review-image">
                        <img th:src="@{'/photos/profile.png'}" alt="User avatar">
                    </div>
                    <div class="review-details">
                        <span th:text="${review.userEntity.login}"></span>
                        <textarea readonly th:text="${review.text}" maxlength="250"></textarea>
                        <div class="review-meta">
                            <p><span th:text="${review.rating}"></span>&#9733;</p>
                            <p th:text="${review.datePost}"></p>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
        <div th:if="${reviews.totalPages > 1}" class="pagination">
            <a th:if="${reviews.number != 0}" th:href="@{'/post?roomId=' + ${room.id} + '&page=' + ${reviews.number - 1}}">
                <span class="arrow-circle">&laquo;</span>
            </a>
            <a th:if="${reviews.number != reviews.totalPages - 1}" th:href="@{'/post?roomId=' + ${room.id} + '&page=' + ${reviews.number + 1}}">
                <span class="arrow-circle">&raquo;</span>
            </a>
        </div>
    </div>
</div>
<footer class="footer" th:insert="~{blocks/footer :: footer}"></footer>
<script th:inline="javascript">
    let currentIndex = 0;
    const slider = document.querySelector('.slider');
    const slides = document.querySelectorAll('.slide');

    document.getElementById('prevSlide').addEventListener('click', function() {
        currentIndex = (currentIndex - 1 + slides.length) % slides.length;
        updateSlider();
    });

    document.getElementById('nextSlide').addEventListener('click', function() {
        currentIndex = (currentIndex + 1) % slides.length;
        updateSlider();
    });

    function updateSlider() {
        slider.style.transform = `translateX(-${currentIndex * 100}%)`;
    }

    updateSlider();

    const currentDate = new Date();
    currentDate.setDate(currentDate.getDate());
    const formattedCurrentDate = currentDate.toISOString().split('T')[0];
    document.getElementById('checkInDate').min = formattedCurrentDate;
    document.getElementById('checkOutDate').min = formattedCurrentDate;
</script>
</body>
</html>