<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <title>Hotel</title>
    <link rel="stylesheet" type="text/css" href="../static/css/styles.css" th:href="@{/css/styles.css}">
</head>
<body>
<header th:insert="~{blocks/header :: header}"></header>
<div class="centered">
    <div th:if="${errorOfExist}" class="alert-danger">
        <p th:text="${errorOfExist}"></p>
    </div>
    <div th:if="${errorOfRepeatPassword}" class="alert-danger">
        <p th:text="${errorOfRepeatPassword}"></p>
    </div>
</div>
<section class="sign-section">
    <main class="sign">
        <form th:method="post" th:action="@{/reg}" th:object="${userEntity}">
            <h1>Регистрация</h1>

            <div class="form-floating">
                <input type="text" th:field="*{login}" id="login" name="login" placeholder="Логин" minlength="5" maxlength="20">
            </div>
            <div class="form-floating">
                <input type="email" th:field="*{email}" id="email" name="email" placeholder="Почта">
            </div>
            <div class="form-floating">
                <input type="password" th:field="*{password}"id="password" name="password" placeholder="Пароль" minlength="5" maxlength="20">
            </div>
            <div class="form-floating">
                <input type="password" id="repeatPassword" name="repeatPassword" placeholder="Повторение пароля" minlength="5" maxlength="20">
            </div>
            <button class="sign-btn" type="submit">Зарегистрироваться
            </button>
        </form>
    </main>
</section>
<footer class="footer" th:insert="~{blocks/footer :: footer}"></footer>
</body>
</html>