<footer class="container footer" th:fragment="footer">
    <footer>
        <ul class="nav-footer">
            <li class="nav-item" th:if="${authentication.name != 'anonymousUser'}"><a href="/" class="nav-link px-2 text-body-secondary">Главная</a></li>
            <li class="nav-item" th:if="${roles.contains('ADMIN')}"><a href="/admin" class="nav-link px-2 text-body-secondary">Панель администратора</a></li>
            <li class="nav-item" th:if="${roles.contains('ADMIN') or roles.contains('MANAGER')}"><a href="/posting" class="nav-link px-2 text-body-secondary">Добавление объявления</a></li>
        </ul>
        <p>Hotel 2024</p>
    </footer>
</footer>

<!--<footer th:insert="~{blocks/footer :: footer}"></footer>-->